body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.input-form {
  width: 500px;
}

#inputDomainGroup {
  width: 300px;
}

#inputDomain {
  text-align: right;
}
